{% extends 'base.html' %}
{% block content %}

    <div class="row">
        <div class="col-md-2">

{#            <div class="affix-fixed">#}

                <div class="btn-group-vertical navbar">
                    <button class="btn btn-primary disabled nocursor" style="cursor:default;"><b>Management</b></button>
                    <a href="{% url 'control:values' %}" class="btn btn-default {% if  active == 'values' %}active{% endif %}">My values</a>
                    <a href="{% url 'control:manual' %}" class="btn btn-default {% if  active == 'manual' %}active{% endif %}">Manual entry</a>
                    <a href="{% url 'control:bulk' %}" class="btn btn-default {% if  active == 'bulk' %}active{% endif %}">Bulk access</a>
                    <a href="{% url 'control:apikeys' %}" class="btn btn-default {% if  active == 'apikeys' %}active{% endif %}">API keys</a>
                </div>

                <div class="btn-group-vertical navbar">
                    <button class="btn btn-primary disabled nocursor" style="cursor:default;"><b>Operations</b></button>
                    <a href="{% url 'control:mapreduce' %}" class="btn btn-default {% if  active == 'mapreduce' %}active{% endif %}">MapReduce</a>
                    <a href="{% url 'control:conditionals' %}" class="btn btn-default {% if  active == 'conditionals' %}active{% endif %}">Conditionals</a>
                </div>

                <div class="btn-group-vertical navbar">
                    <button class="btn btn-primary disabled nocursor" style="cursor:default;"><b>Settings</b></button>
                    <a href="{% url 'control:restrictions' %}" class="btn btn-default {% if  active == 'restrictions' %}active{% endif %}">Restrictions</a>
                </div>

{#            </div>#}
        </div>
        <div class="col-md-8">
            {% block control %}
                <div class="row row-main">
                    <h2> Control center </h2>
                </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}