{% extends 'control/control.html' %}

{% block menu %}

    <div class="navbar navbar-default">
        <p class="navbar-text"><b>Management</b></p>
    </div>

    <div class="navbar navbar-default">

        <ul class="nav navbar-nav">
            <li style="background-color:#e7e7e7;width:100%;font-weight:bold;"><a href="#">My values</a></li>
            <li><a href="/">Manual entry</a></li>
            <li><a href="/">Bulk access</a></li>
        </ul>
    </div>

{% endblock %}


{% block control %}
    <p> Management content </p>
{% endblock %}
