{% extends 'control/control.html' %}

{% block control %}

    <div class="row row-main">
    <h2>Master keys</h2>
    <p>
        Take care and keep the root key secret.
    </p>
    <table class="table">
        <thead>
        <tr>
            <th>Type</th>
            <th>Key</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td> Root key </td>
            <td  class="key"> {{ key_root.key }} </td>
            <td> Do almost everything, including deletions </td>
        </tr>
        <tr>
            <td> Generation key </td>
            <td  class="key"> {{ key_generate.key }} </td>
            <td> Allows you to generate additional keys </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="row row-main">
    <h2>Generated keys</h2>
    <p>
        List and delete keys.
        Currently, there is no limit on the amount of keys that can be associated with your account.
    </p>
    <form method="post" action="{% url 'control:generate_apikey' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Generate additional key</button>
    </form>

    <table class="table">
        <thead>
        <tr>
            <th>Key</th>
            <th>Created on</th>
            <th>Created by</th>
            <th>Revoke</th>
        </tr>
        </thead>
        <tbody>
        {% for key in keys %}
            <tr>
                <td class="key"> {{ key.key }} </td>
                <td> {{ key.created_time }} </td>
                <td> {{ key.created_ip }} </td>
                <td>
                    <form method="post" action="{% url 'control:delete_apikey' %}">
                        {% csrf_token %}
                        <input type="hidden" name="key" value="{{ key.key }}">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
