{% extends 'control/control.html' %}

{% block control %}
    <table class="table">
        <thead>
        <tr>
            <th>Key</th>
            <th>Owner</th>
            <th>Value</th>
        </tr>
        </thead>
        <tbody>
        {% for entry in entries %}
            <tr>
                <td> {{ entry.key }} </td>
                <td> {{ entry.user }} </td>
                <td> {{ entry.value|truncatechars:100 }} </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
