body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar {
    margin-bottom: 20px;
    width:100%;
        background-color:#fbfbfb;
}

.headerbutton {
    background-color:#e7e7e7;
    width:100%;
}

.activebutton {
    font-weight:bold;
    color: black;
}
.nocursor {
    cursor:default;
}

h2 {
    margin-top:10px;
}

.row-main {
    margin-bottom:20px;
}

.key {
    font-family: Courier;
    font-size:12pt;
}

@media (min-width: 995px) {
    .affix-fixed {
        position: fixed;
        width: 128px;
    }
}

@media (min-width: 1200px) {
    .affix-fixed {
        position: fixed;
        width: 164px;
    }
}